.grass {
    -fx-fill: #55e060;
}

.veryBadHealth {
    -fx-fill: #991733;
}

.badHealth{
    -fx-fill: #ed7790;
}

.neutralHealth{
    -fx-fill: #ffffff;
}

.goodHealth{
    -fx-fill: #abeeff;
}

.veryGoodHealth{
    -fx-fill: #26c5ed;
}

.jungle {
    -fx-fill: #065e0d;
}

.water {
    -fx-fill: blue;
}

.step {
    -fx-fill: green;
}